{{! Include Facebook JavaScript SDK }}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=236628663033029&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{{! Include Google JavaScript SDK }}
<script src="https://apis.google.com/js/platform.js" async defer></script>

{{! TODO: Add some description markup for `link` and `share` modifiers }}
<div id="js-social" class="social-links">
  <div class="social-links__link social-links__internal">
	<a class="social-links__title" href="{{ post.url }}">Visit Site</a>
  </div>
  <div class="social-links__link social-links__external js-social-trigger">
	<span class="social-links__title">Share</span>
	<ul class="social-links__list">
	  <li class="social-links__item social-links__facebook" >
	  <div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
	  </li>
	  <li class="social-links__item social-links__twitter">
	  <a href="https://twitter.com/intent/tweet?text={{ page.title }}&hashtags=emberjs,{{ page.tags }}" class="twitter-share-button" data-related="BuiltWithEmber" data-count="none">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	  </li>
	  <li class="social-links__item social-links__googleplus">
		<g:plus action="share"></g:plus>
	  </li>
	</ul>
  </div>
</div>
